{% extends "layout.html" %}
{% block body %}
    <!-- BreadCrumb -->
    <ol class="breadcrumb">
        <li><a href="/">HOME</a></li>
        <li><a href="/twitter">TWITTER HOME</a></li>
        <li><a href="/twitter/friends">FRIENDS</a></li>
    </ol>

    <!-- Page Content -->
    <div class="col-md-12" id="friends_collector_create">
        <h2>Friends Collector</h2>
        <div class="jumbotron">
            <form class="form-horizontal" action="/twitter/friends/create" method="POST">
                <div class="form-group">
                    <label for="ConsumerKey" class="col-sm-2 control-label">Consumer Key</label>
                    <div class="col-sm-10">
                        <input type="text" name="consumer_key" class="form-control" id="ConsumerKey" placeholder="ConsumerKey" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="SecretKey" class="col-sm-2 control-label">Secret Key</label>
                    <div class="col-sm-10">
                        <input type="text" name="secret_key" class="form-control" id="SecretKey" placeholder="SecretKey" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="AccessToken" class="col-sm-2 control-label">Access Token</label>
                    <div class="col-sm-10">
                        <input type="text" name="access_token" class="form-control" id="AccessToken" placeholder="AccessToken" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="SecretAccessToken" class="col-sm-2 control-label">Secret Access Token</label>
                    <div class="col-sm-10">
                        <input type="text" name="secret_access_token" class="form-control" id="SecretAccessToken" placeholder="SecretAccessToken" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Hashtags" class="col-sm-2 control-label">User Name</label>
                    <div class="col-sm-10">
                        <input type="text" name="user" class="form-control" id="user" placeholder="user name.." required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-warning">Start Process</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
