$custom-red: #cf2222;

$fa-font-path : "../../node_modules/font-awesome/fonts/";
@import "../../node_modules/font-awesome/scss/font-awesome.scss";

body, html {
	height: 100%;
}

body {
	font-size: 15px;
  	font-family: 'Gotham Black Regular', sans-serif;
  	font-weight: 100;
	margin: 0;
	color: #000;
	background: #fff;
	padding: 30px 0 30px 0;
}

h1 {
	font-weight: 600;
}

h2 {
	font-weight: 300;
}

a, a:hover {
	text-decoration: none;
	color: #000;
}

.margin-top-100 {
	margin-top: 100px;
}

.margin-bottom-50 {
	margin-bottom: 50px;
}

.title-icons-pipe {
    border-right: solid 3px $custom-red;
    padding-right: 8px;
}

.text-color-red {
	color: $custom-red;
}

