$custom-red: #cf2222;

$fa-font-path : "../../node_modules/font-awesome/fonts/";
@import "../../node_modules/font-awesome/scss/font-awesome.scss";

body, html {
	height: 100%;
}

body {
	font-size: 15px;
  	font-family: 'Gotham Black Regular', sans-serif;
  	font-weight: 100;
	margin: 0;
	color: #000;
	background: #fff;
}

h1 {
	font-weight: 600;
}

h2 {
	font-weight: 300;
}

a, a:hover {
	text-decoration: none;
	color: #000;
}

.container {
	padding-top: 30px;
	padding-bottom: 30px;
}

.breadcrumb {
	background: #fff;
}

.jumbotron {
	background: #fff;
}

.form-control:focus {
	border-color: $custom-red;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(207, 34, 34, 0.6);
}

.breadcrumb > li + li:before {
	color: $custom-red;
}

.custom-btn {
	background: #fff;
	color: #000;
	border: 1px solid #EEEEF1;
}

.custom-btn:hover {
	background: $custom-red;
	font-weight: 600;
	color: #fff;
	border: 1px solid $custom-red;
}

.margin-top-100 {
	margin-top: 100px;
}

.margin-bottom-50 {
	margin-bottom: 50px;
}

.no-padding-left {
	padding-left: 0;
}

.title-icons-pipe {
    border-right: solid 3px $custom-red;
    padding-right: 8px;
}

.text-color-red {
	color: $custom-red;
}

