{% extends "layout.html" %}
{% block body %}
    <div class="col-md-12 margin-bottom-50">
        <h1 class="text-color-red">AVAILABLE SERVICES</h1>
    </div>
    <div class="col-md-12 margin-bottom-50">
        <h2>
            <i class="fa fa-twitter title-icons-pipe"></i> <a href="/twitter">Twitter</a>
            <a class="pull-right" target="_blank" href="/api/v1/twitter"><i class="fa fa-external-link title-icons-pipe"></i> Twitter API</a></h2>
        <hr>
    </div>
    <div class="col-md-3 text-center">
        <a href="/twitter/listener" >
            <h2>
                <i class="fa fa-assistive-listening-systems font-27"></i>
            </h2>
            <p>
                <strong>Tweets <span class="text-color-red">Listener</span></strong>
            </p>
        </a>
    </div>
    <div class="col-md-3 text-center">
        <a href="/twitter/collector" >
            <h2>
                <i class="fa fa-file-o"></i>
            </h2>
            <p>
                <strong><span class="text-color-red">Tweets</span> Collector</strong>
            </p>
        </a>
    </div>
    <div class="col-md-3 text-center">
        <a href="/twitter/follower">
            <h2>
                <i class="fa fa fa-file-o"></i>
            </h2>
            <p>
                <strong><span class="text-color-red">Followers</span> Collector</strong>
            </p>
        </a>
    </div>
    <div class="col-md-3 text-center">
        <a href="/twitter/friends" >
            <h2>
                <i class="fa fa-user-o"></i>
            </h2>
            <p>
                <strong><span class="text-color-red">Friends</span>Collector</strong>
            </p>
        </a>
    </div>
{% endblock %}
