{% extends "layout.html" %}
{% block body %}
    <div class="row" id="twitter_listener">
        <h3>Twitter listener</h3>
        <div class="jumbotron">
            <form class="form-horizontal" action="/twitter_listener" method="POST">
                <div class="form-group">
                    <label for="ConsumerKey" class="col-sm-2 control-label">Consumer Key</label>
                    <div class="col-sm-10">
                        <input type="text" name="consumer_key" class="form-control" id="ConsumerKey" placeholder="ConsumerKey" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="SecretKey" class="col-sm-2 control-label">Secret Key</label>
                    <div class="col-sm-10">
                        <input type="text" name="secret_key" class="form-control" id="SecretKey" placeholder="SecretKey" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="AccessToken" class="col-sm-2 control-label">Access Token</label>
                    <div class="col-sm-10">
                        <input type="text" name="access_token" class="form-control" id="AccessToken" placeholder="AccessToken" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="SecretAccessToken" class="col-sm-2 control-label">Secret Access Token</label>
                    <div class="col-sm-10">
                        <input type="text" name="secret_access_token" class="form-control" id="SecretAccessToken" placeholder="SecretAccessToken" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Hashtags" class="col-sm-2 control-label">Hashtags</label>
                    <div class="col-sm-10">
                        <input type="text" name="hashtags" class="form-control" id="Hashtags" placeholder="hashtag1, hashtag2, hashtag3, ..." required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-warning">Start Process</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}